body {
    font-family: Georgia, serif;
    background-color: #edf2d8;
    margin: 0;
    padding: 0;

  }
  
  .topo {
    background-color: #dbe3c4;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
  }
  
  .conteudo {
    background-color: #edf2d8;
    max-width: 700px;
    margin: 30px auto;
    border: 3px solid #edf2d8;
    padding: 30px;
   
  }
  
  .texto {
    text-align: justify;
    margin-bottom: 30px;
  }
  
  .imagem-central {
    text-align: center;
    margin: 20px 0;
  }
  
  .imagem-central img {
    width: 300px;
    border: 1px solid #edf2d8;
  }
  
  .legenda {
    font-size: 12px;
    margin-top: 5px;
    color: #333;
  }
  
  .acervo-titulo {
    background-color: #dbe980;
    text-align: center;
    font-weight: bold;
    margin: 40px 0 20px;
    padding: 30px;
    font-size: 20px;
  }
  
  .galeria {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .galeria img {
    width: 150px;
    height: auto;
    border: 1px solid #999;
  }
  